<div id="side-contact-form">
    <h2>{{ 'Always at your service' | translate }}</h2>
    <h3>{{ "leave your details and we'll get back to you shortly" | translate }}</h3>
    {{ widget.getForm | raw }}
</div>