<div class="container" id="header-top">
    <div class="row">
        <div class="col-sm-4">
            {{ 'logo' | component }}
        </div>
        <div class="col-sm-8">
            <div class="block">
                {{ 'headerContactDetails' | component }}
                {{ 'languageSelector' | component }}
            </div>
        </div>
    </div>
</div>
<header id="header" role="banner" class="sticky">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{ 'headerMenu' | component }}
            </div>
        </div>
    </div>
</header>