<div>
    <div class="row">
        <div id="home-slider">
            <progress :value="progress" :max="maxProgress"></progress>
            <section total="{{ slides | length }}">
                {% for key,slide in slides %}
                    <div data="{{ key }}" v-if="active=={{ key }}">
                        {{ slide | raw }}
                    </div>
                {% endfor %}
            </section>
            <div class="controls">
                <span class="left" @click="prev">&larr;</span>
                <span class="right" @click="next">&rarr;</span>
            </div>
        </div>
    </div>
</div>